{% extends 'admin.html.twig' %}

{% block title %}Pagine{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <h1 class="title">Pagine</h1>
                </div>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Titolo</th>
                <th>Contenuto</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for page in pages %}
            <tr>
                <td>{{ page.title }}</td>
                <td>{{ page.content|truncate|raw }}</td>
                <td>
                    <p class="control">
                        <a class="button" href="{{ path('app_page_edit', {'id': page.id}) }}">
                                <span class="icon is-small">
                                    <i class="fas fa-pencil"></i>
                                </span>
                            <span>Modifica</span>
                        </a>
                    </p>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
