{% extends 'base.html.twig' %}

{% block title %}Prenota Subito{% endblock %}

{% block body %}
  <section class="hero is-primary is-small">
    <div class="hero-body" style="padding: 8px 0 0;">
      <div class="columns">
        <div class="column">
          <div class="container has-text-centered pb-3">
            <p class="title">Scegli le bici che fanno per te</p>
            <p class="subtitle">Noleggio dal {{ dateStart|date("d/m/Y") }} al {{ dateEnd|date("d/m/Y") }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="container mt-4" data-controller="cart">
    <div class="tabs is-centered is-medium">
      <ul>
        <li class="tab is-active" data-action="click->cart#openTab" data-cart-tab-param="mountainbike"><a >MountainBike</a></li>
        <li class="tab" data-action="click->cart#openTab" data-cart-tab-param="ebike"><a >eBike</a></li>
        <li class="tab" data-action="click->cart#openTab" data-cart-tab-param="gravel"><a >Gravel</a></li>
        <li class="tab" data-action="click->cart#openTab" data-cart-tab-param="racing"><a >Racing</a></li>
      </ul>
    </div>
    <div id="mountainbike" class="content-tab">
      <div class="columns">
        {% for product in products.mountainbike %}
          <div class="column is-3">
            {% include 'home/partials/card.html.twig' with {'book': true} %}
          </div>
        {% endfor %}
      </div>
    </div>
    <div id="ebike" class="content-tab" style="display:none">
      <div class="columns">
        {% for product in products.ebike %}
          <div class="column is-3">
            {% include 'home/partials/card.html.twig' with {'book': true} %}
          </div>
        {% endfor %}
      </div>
    </div>
    <div id="gravel" class="content-tab" style="display:none">
      <div class="columns">
        {% for product in products.gravel %}
          <div class="column is-3">
            {% include 'home/partials/card.html.twig' with {'book': true} %}
          </div>
        {% endfor %}
      </div>
    </div>
    <div id="racing" class="content-tab" style="display:none">
      <div class="columns">
        {% for product in products.racing %}
          <div class="column is-3">
            {% include 'home/partials/card.html.twig' with {'book': true} %}
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

  {% include('home/partials/why_section.html.twig') %}
{% endblock %}