{% extends 'base.html.twig' %}

{% block title %}MC Rent Bike Ragusa{% endblock %}

{% block body %}

    <section class="section">
        <div class="columns product">
            {% for product in products %}
                {% if product.qty > 0 %}
                    <div class="column is-one-quarter mt-3">
                        {% include 'home/partials/card.html.twig' %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>
    <section class="hero is-small is-info mt-5">
        <div class="hero-body has-text-centered">
            <p class="is-size-3">
                Soggiorni in una struttura convenzionata?
            </p>
            <p class="is-size-3">Se il noleggio dura almeno 3 giorni, la consegna e il ritiro della bici da te scelta sarà a carico nostro.</p>
            <a class="button" href="{{ path('where_to_stay') }}">
                <span class="icon is-small">
                    <i class="fas fa-eye"></i>
                </span>
                <span>Verifica le strutture</span>
            </a>
        </div>
    </section>
    {% include('home/partials/carousel.html.twig') %}
    <section class="hero is-medium is-primary">
        <div class="hero-body has-text-centered">
            <p class="is-size-2 uppercase">
                Offriamo una linea completa di biciclette e accessori per ogni esigenza!!
            </p>
            <p class="is-size-3">Siamo presenti sul mercato da diversi anni</p>
        </div>
    </section>
    {% include('home/partials/why_section.html.twig') %}
    {% include('home/partials/map.html.twig') %}
{% endblock %}
