{% extends 'base.html.twig' %}

{% block title %}MC Rent Bike Ragusa{% endblock %}

{% block body %}
    <section class="hero is-primary is-medium">
        <div class="hero-body">
            <div class="container has-text-centered">
                <p class="title">NOLEGGIO BICICLETTE E SCOOTER</p>
                <p class="subtitle">BREVE, MEDIO E LUNGO TERMINE</p>
            </div>
        </div>
    </section>
{% endblock %}
