{% extends 'base.html.twig' %}

{% block title %}MC Rent Bike Ragusa{% endblock %}

{% block body %}
  <section class="container">
    <h1 class="title is-1">PRIVACY POLICY</h1>
    <h2 class="subtitle is-4">
      Informazioni agli utenti sul trattamento dei dati personali che li riguardano ai sensi e per gli effetti degli artt. 13 e 14 del Regolamento UE 2016/679
    </h2>
  </section>
{% endblock %}