{% extends 'base.html.twig' %}

{% block title %}MC Rent Bike Ragusa{% endblock %}

{% block body %}
  <p class="uppercase has-text-centered title is-2">{{ title }}</p>
  <p class="has-text-centered subtitle is-4">La Nostra Selezione di</p>
<section class="section" data-controller='carousel'>
  <div class="columns product carousel">
    {% for product in products %}
      {% if product.qty > 0 %}
        <div class="column mt-3">
          {% include 'home/partials/card.html.twig' %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</section>
  {% include('home/partials/why_section.html.twig') %}
  {% include('home/partials/map.html.twig') %}
{% endblock %}