{% extends 'base.html.twig' %}

{% block title %}Grazie per averci Scelto{% endblock %}
{% block body %}
  <section class="hero is-primary is-small">
    <div class="hero-body" style="padding: 8px 0 0;">
      <div class="columns">
        <div class="column">
          <div class="container has-text-centered pb-3">
            <p class="title">Sì è verificato un errore</p>
            <p class="subtitle">Durante l'elaborazione del pagamento si è verificato un errore ed è stato impossibile proceder con la prenotazione</p>
            <p class="">Ti invitiamo a riprovare più tardi. Per qualunque esigenza, non esitare a contattarci</p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% include('home/partials/why_section.html.twig') %}
{% endblock %}