<section class="hero is-large has-carousel is-hidden-mobile" data-controller='carousel'>
  <div class="hero-carousel carousel">
    <div class="item-1">
      <figure class="image" style="display: flex; justify-content: center; height: 600px;">
        <img src="/imgs/carousel/SanGiorgio.jpeg" alt="MC Rent Bike Ragusa"/>
      </figure>
    </div>
    <div class="item-2">
      <figure class="image"style="display: flex; justify-content: center; height: 600px;">
        <img src="/imgs/carousel/Universita.jpeg" alt="MC Rent Bike Ragusa"/>
      </figure>
    </div>
    <div class="item-3">
      <figure class="image"style="display: flex; justify-content: center; height: 600px;">
        <img src="/imgs/carousel/Idra.jpeg" alt="MC Rent Bike Ragusa"/>
      </figure>
    </div>
  </div>
  <div class="hero-head"></div>
  <div class="hero-body"></div>
  <div class="hero-foot"></div>
</section>