<section class="block mt-5 has-text-centered">
  <h3 class="title is-2">Perchè Sceglierci?</h3>
  <div class="columns">
    <div class="column is-one-fifth is-offset-one-fifth">

      <div class="bulma-center-mixin-parent">
        <img class="bulma-center-mixin" height="128" width="128" src="/imgs/bicycle-regular.svg">
      </div>
      <p class="title">Le Migliori Bici</p>
      <p class="subtitle">
        Tutte le nostre bici son di alta qualità.<br> Abbiamo una vasta scelta e bici sempre nuove.
      </p>

    </div>
    <div class="column is-one-fifth">

      <div class="bulma-center-mixin-parent">
        <img class="bulma-center-mixin" height="82" width="98" src="/imgs/heart-solid.svg">
      </div>
      <p class="title">Il Miglior Servizio</p>
      <p class="subtitle">
        Diamo ai nostri clienti la massima attenzione e forniamo le migliori indicazioni sui percrosi
        mozzafiato che la provincia di Ragusa regala.
      </p>

    </div>
    <div class="column is-one-fifth">

      <div class="bulma-center-mixin-parent">
        <img class="bulma-center-mixin" height="82" width="98" src="/imgs/euro-sign-solid.svg">
      </div>
      <p class="title">I Migliori Prezzi</p>
      <p class="subtitle">
        Abbiamo i prezzi più bassi: prestiamo la massima attenzione affinché tutto sia perfetto.
      </p>

    </div>
  </div>
</section>