{% extends 'admin.html.twig' %}

{% block title %}Strutture Convenzionate{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                        <h1 class="title">Modifica Strutture Convenzionate</h1>
                    </div>
                </div>
                <div class="level-right">
                    <div class="level-item">
                        {{ include('affiliate/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="columns">
            <div class="column">
                {{ include('affiliate/_form.html.twig') }}
            </div>
            <div class="column is-one-quarter">
                <figure class="image is-128x128">
                    <img src="/images/{{ affiliate.image }}">
                </figure>
            </div>
        </div>
    </section>
{% endblock %}
