{% extends 'admin.html.twig' %}

{% block title %}Modifica Listino Prezzi{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                        <h1 class="title">Modifica Listino</h1>
                    </div>
                </div>
                <div class="level-right">
                    <div class="level-item">
                        {{ include('price_list/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>

        {{ include('price_list/_form.html.twig') }}

    </section>
{% endblock %}
