<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}MC Rent Bike Ragusa{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="paypal_client_id" content="{{ paypal_client_id }}" />
        <link rel="icon" type="image/png" href="/favicon.png">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            {% include 'nav.html.twig' %}
        </header>

        {% block body %}{% endblock %}

        <footer class="footer mt-6">
            {% include 'footer.html.twig' %}
        </footer>
    </body>
</html>
