<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            <section class="p-4">
                <nav class="navbar" role="navigation" aria-label="main navigation">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="/">
                            <img
                                srcset="/imgs/mc_rent_bike.webp, /imgs/mc_rent_bike@1.5x.webp 1.5x, /imgs/mc_rent_bike@2x.webp 2x"
                                src="/imgs/mc_rent_bike.webp"
                                alt="MC Rent Bike Ragusa" />
                        </a>

                        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                        </a>
                    </div>
                    <div id="navMenu" class="navbar-menu">
                        <div class="navbar-start">
                            <a class="navbar-item" href="/">
                                Home
                            </a>
                            <a class="navbar-item">
                                Termini & Condizioni
                            </a>
                        </div>
                    </div>
                    <div class="navbar-end">
                        <div class="navbar-item">
                            <div class="buttons">
                                <a class="button is-primary" href="tel://3349826963">
                                    <span class="icon-text">
                                      <span class="icon">
                                        <i class="fas fa-phone"></i>
                                      </span>
                                      <span><strong>334/9826963</strong></span>
                                    </span>

                                </a>
                            </div>
                        </div>
                    </div>
                </nav>
            </section>
        </header>

        {% block body %}{% endblock %}

        <footer class="footer mt-6">
            <div class="content has-text-centered">
                <p>
                    <a href="https://www.freepik.com/free-photo/family-four-traveling-by-bicycles_1584006.htm?query=cycle">Image by bearfotos</a> on Freepik
                </p>
            </div>
        </footer>
    </body>
</html>
