<section class="hero is-primary is-small" data-controller="booking">
  <div class="hero-body">
    <div class="container has-text-centered">
      <form id="dateRange" action="#" method="post">
        <div class="field is-horizontal">
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="date" id="dateStart" name="dateStart" value="{% if dateStart is not empty %}{{ dateStart|date('Y-m-d') }}{% endif %}">
              </div>
            </div>
            <div class="field">
              <div class="control">
                <input class="input" type="date" id="dateEnd" name="dateEnd" value="{% if dateEnd is not empty %}{{ dateEnd|date('Y-m-d') }}{% endif %}">
              </div>
            </div>
            <div class="field">
              <div class="control">
                <button id="checkDate" class="button is-link" type="button">
                  {% if dateStart is not empty %}Continua{% else %}Inizia{% endif %} il Noleggio
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<section class="container mt-4">
  <div id="conclude-button" class="has-text-centered {% if cart.totalItemsCount == 0 %}is-hidden{% endif %}">
    <a href="{{ path('book_select_accessory') }}" class="button is-success">
      Aggiungi Accessori&nbsp;&nbsp;&nbsp;
      <span class="icon is-small">
          <i class="fas fa-plus"></i>
        </span>
    </a>
    <a href="{{ path('cart') }}" class="button is-success">
      Procedi col Noleggio&nbsp;&nbsp;&nbsp;
      <span class="icon is-small">
          <i class="fas fa-shopping-cart"></i>
        </span>
    </a>
  </div>
</section>